{% extends 'base/base.html' %}

{% block content %}
  <h1>Board list</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Created_date</th>
        <th><a href="{% url 'board_new' %}"><span class="fa fa-plus"></span></a></th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <th scope="row">{{ board.id }}</th>
          <td><a href="{% url 'board_detail' pk=board.pk %}">{{ board.title }}</a></td>
          <td>{{ board.created_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
