{% extends 'base/base.html' %}

{% block content %}
    <h1>{{board.title}}</h1>

    <form id="new_list" class="form-inline">
      <input type="text" id="new_list_title" maxlength="20" class="form-control" placeholder="List title" required>
      <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Created_date</th>
          <th><a class="btn btn-default" href="{% url 'list_new' %}"><span class="fa fa-plus"></span></a></th>
        </tr>
      </thead>
      <tbody id="lists">
        {% for list in lists %}
          <tr>
            <th scope="row">{{ list.id }}</th>
            <td><a href="">{{ list.title }}</a></td>
            <td>{{ list.created_date }}</td>
            <td>
              <a class="btn btn-primary btn-sm" href=""><span class="fa fa-pencil"></span></a>
              <a class="btn btn-danger btn-sm" href=""><span class="fa fa-trash"></span></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <script type="text/javascript">
      var newListForm = $('#new_list');

      newListForm.on('submit', function(event) {
        event.preventDefault();

        $.ajax({
          url: "{% url 'list_new' %}",
          type: "POST",
          dataType: "json",
          data: {
            "title": $("#new_list_title").val(),
					  "board_id": "{{ board.id }}",
            "csrfmiddlewaretoken": "{{ csrf_token }}"
          },
          success: function(data){ // 성공했을 때 호출할 콜백을 지정한다.
            $('#lists').append(data);
            $("#new_list_title").val('');
            alert("Success : List create");
          },
          error:function(){
            alert("Error : List create");
          }
        });
      });
    </script>
{% endblock %}
