<div class="row">
    <h3>
      {{ list.title }}
    </h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">URL</th>
          <th scope="col"><a class="text-info active_new_bookmark_form" data-toggle="modal" data-id="{{ list.id }}" href="#new_bookmark_modal"> <i class='fa fa-plus'></i> ADD BOOKMARK</a></th>
        </tr>
      </thead>
      <tbody>
        {% for bookmark in list.bookmark_set.all %}
          <tr>
            {% include 'bookmark/_bookmark.html' with bookmark=bookmark %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
